<div id="new_story">
  <h1>새로운 이야기</h1>
  <p>여러본의 잡담을 들려주세요.여러본의 잡담을 들려주세요. 여러본의 잡담을 들려주세요. 여러본의 잡담을 들려주세요. 여러본의 잡담을 들려주세요.  </p>
  <%= render 'posts/form' %>
  <%= link_to "Home", root_path %>
</div>
